# commands for docker. From https://docs.travis-ci.com/user/docker/
services:
  - docker
  
# commands for python. From https://docs.travis-ci.com/user/languages/python/
language: python
python:
  - "3.5"
  
# command to install dependencies

install: # prepare mySQL database
  - docker pull mysql:5.7.14
  - mkdir db
  - >
    docker run --name mysql -d -e MYSQL_ROOT_PASSWORD='$3cureUS'
    -v `pwd`/db:/var/lib/mysql  mysql:5.7.14
  - sleep 10 # need to give time for mysql to start
  - >
    docker run -it --name mysql-cmd --rm --link mysql:db mysql:5.7.14
    mysql -uroot -p'$3cureUS' -h db -v -e
    "CREATE DATABASE cs4501 CHARACTER SET utf8;
    CREATE USER 'www'@'%' IDENTIFIED BY '\$3cureUS';
    GRANT ALL PRIVILEGES ON *.* TO 'www'@'%';"

# preparations
before_script:
  - ls
  - docker start mysql
  - docker-compose up -d
 # - apt-get google-chrome-stable
  - sleep 5
  - docker ps -a

# command to run tests
script: 
#    models.test
  - docker start cs4501_models_1
  - >
    docker exec -it cs4501_models_1 bash -c 
    "python manage.py test"
    
#     exp.test
  - docker start cs4501_exp_1
  - >
    docker exec -it cs4501_exp_1 bash -c 
    "python manage.py test"

  - docker ps -a
  - docker-compose down
  - sleep 5


after_script:
  - docker stop mysql
  - docker rm 'docker ps -a -q'
  - docker rmi 'docker images -q'
  # remove db
  - sudo rm -rf db