# commands for docker. From https://docs.travis-ci.com/user/docker/
services:
  - docker
  
# commands for python. From https://docs.travis-ci.com/user/languages/python/
language: python
python:
  - "3.5"
  
# command to install dependencies
install:
#  - mkdir -p ~/cs4501/app
#  - docker run -it --name web -v ~/cs4501/app:/app tp33/django
#  - exit
  # setup db
  - docker pull mysql:5.7.14
  - mkdir db
  - docker run --name mysql -d -e MYSQL\_ROOT\_PASSWORD='$3cureUS' mysql:5.7.14
  - sleep 10
  - docker ps -a
  - >
    docker run -it --name mysql-cmdline --link mysql:db mysql:5.7.14
    mysql -uroot -p'$3cureUS' -h db -v -e
    "create user 'www'@'%' identified by '\$3cureUS';
    create database cs4501 character set utf8;
    grant all privileges on cs4501.* to 'www'@'%';" 

# command to run tests
before-script:
  - docker start mysql
  - docker-compose up -d
  - sleep 15
  - docker ps -a
#  - docker start models exp
  
script: 
# run test commands
#  - docker-compose up -d
#  - sleep 15
#  - docker start models exp
  # models.test
  - > 
#    docker run -it --name web -p 8000:8000 --link mysql:db tp33/django
    docker exec -it models
    cd models
    python manage.py test
    exit
  #exp.test
  - >
    docker exec -it exp
    python manage.py test
    exit

after-script:
  - docker-compose down
  - docker stop mysql
  - docker rm 'docker ps -a -q'
  - docker rmi 'docker images -q'
  # remove db
  - sudo rm -rf db