# commands for docker. From https://docs.travis-ci.com/user/docker/
services:
  - docker
  
# commands for python. From https://docs.travis-ci.com/user/languages/python/
language: python
python:
  - "3.5"
  
# command to install dependencies
install:
  # setup db
  - mkdir ~/cs4501/
  - mkdir ~/cs4501/app/
  - mv -v ./{.[!.],}* ~/cs4501/app/
  - mkdir ~/cs4501/db/
  - docker pull mysql:5.7.14
#  - docker run --name mysql -d -e MYSQL\_ROOT\_PASSWORD='$3cureUS' mysql:5.7.14
  - docker run --name mysql -d -e MYSQL\_ROOT\_PASSWORD='$3cureUS' -v ~/cs4501/db:/var/lib/mysql  mysql:5.7.14
  - sleep 20
  - docker ps -a
  - >
    docker run -it --name mysql-cmdline --link mysql:db mysql:5.7.14
    mysql -uroot -p'$3cureUS' -h db -v -e
    "create user 'www'@'%' identified by '$3cureUS';
    create database cs4501 character set utf8;
    grant all privileges on *.* to 'www'@'%';"

# command to run tests
before_script:
  - cd ~/cs4501/app/
  - ls
  - docker-compose up -d
  - sleep 15
  - docker ps -a
  
script: 
  #exp.test
  - >
    docker exec -it app_exp_1 bash -c 
    "python manage.py test"
    
  - docker-compose down
  # models.test
  #  - > 
  #    docker exec -it cs4501_models_1 bash -c 
  #    "python manage.py test" 
  - >
    docker run -it --name web -p 8000:8000 --link mysql:db -v ~/cs4501/app:/app tp33/django bash -c
    "cd models && python manage.py test"


after_script:
  - docker stop mysql
  - docker rm 'docker ps -a -q'
  - docker rmi 'docker images -q'
  # remove db
  - sudo rm -rf db