models:
    image: shadowgamefly/cs4501
    external_links:
      -  mysql:../db
    volumes:
      -  ./models:/app
    ports:
      - "8001:8000"
    command: bash -c "python manage.py makemigrations api --no-input
                    && python manage.py migrate --no-input
                    && python manage.py flush --no-input
                    && python manage.py loaddata demo.json
                    && mod_wsgi-express start-server --working-directory /app --reload-on-changes --log-to-terminal /app/models/wsgi.py"

exp:
   image: shadowgamefly/cs4501
   links:
      - models:models-api
   ports:
      - "8002:8000"
   volumes:
      - ./exp:/app
   command: "mod_wsgi-express start-server --working-directory /app --reload-on-changes /app/exp/wsgi.py"

web:
   image: shadowgamefly/cs4501
   links:
      - exp:exp-api
   ports:
      - "8000:8000"
   volumes:
      - ./web:/app
   command: "mod_wsgi-express start-server --working-directory /app --reload-on-changes /app/web/wsgi.py"
