models:
    image: shadowgamefly/cs4501
    external_links:
      -  mysql:db
    volumes:
      -  ./models:/app
    ports:
      - "8001:8000"
    command: bash -c "python manage.py makemigrations 
                      && python manage.py migrate --no-input 
                      && python manage.py loaddata demo.json 
                      && mod_wsgi-express start-server --working-directory /app --reload-on-changes --log-to-terminal /app/models/wsgi.py"

exp:
   image: shadowgamefly/cs4501
   links:
      - models:models-api
   ports:
      - "8002:8000"
   volumes:
      - ./exp:/app
   command: "mod_wsgi-express start-server --working-directory /app --reload-on-changes /app/exp/wsgi.py"

web:
   image: shadowgamefly/cs4501
   links:
      - exp:exp-api
   ports:
      - "8000:8000"
   volumes:
      - ./web:/app
   command: "mod_wsgi-express start-server --working-directory /app --reload-on-changes /app/web/wsgi.py"

kafka:
   image: spotify/kafka
   container_name: kafka
   environment:
      ADVERTISED_HOST: kafka
      ADVERTISED_PORT: 9092
   hostname: kafka
   
es:
   image: elasticsearch:2.0
   container_name: es
   ports:
      - "9200:9200"

batch:
   image: tp33/django
   external_links:
      -  mysql:db
   container_name: batch
   volumes:
      - ./batch:/app
   links:
      - kafka:kafka
      - es:es
   command: bash -c "python /app/batch/batch_script.py"