models:
    image: tp33/django
    external_links:
      -  mysql:../db
    volumes:
      -  ./models:/app
    ports:
      - "8001:8000"
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py load aa.json && mod_wsgi-express start-server --working-directory /app --reload-on-changes /app/models/wsgi.py"