<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron" >
      <div class="container">

        <h1>Error 500</h1>
        <p>Internal Server Error</p>


      </div>
    </div>

{% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
