<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}

<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container" style = "text-align: center">
        <font color="white">
            <h1>The car you are looking for</h1>
        </font>
    </div>
</div>

<div class="container">
    <div class = "row">
      {% if car %}
        <div class="col-lg-4">
          <h1>{{car.car_make}} {{car.car_model}}</h1>
          <p>Color: {{car.car_color}}</p>
          <p>Make: {{car.car_make}}</p>
          <p>Model: {{car.car_model}}</p>
          <p>New: {{car.car_new}}</p>
          <p>Description: {{car.description}}</p>
          <p>Price: ${{car.price}}</p>
        </div>
      {% else %}
      <strong>There are no cars in stock.</strong>
      {% endif %}
    </div>

      <div class="row">
      {%if car.rec%}
      <h1>Recommended Cars</h1>
      <hr>
      <br>
      {%for car in car.rec%}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <h2>{{car.car_make}} {{car.car_model}}</h2>
          <p>Color: {{car.car_color}}</p>
          <p>Make: {{car.car_make}}</p>
          <p>Model: {{car.car_model}}</p>
          <p>New: {{car.car_new}}</p>
          <p><a class="btn btn-default" href="{% url 'car_detail_page' car_id=car.id %}" role="button">View
              details &raquo;</a></p>
      </div>
      {%endfor%}
      {%endif%}
    </div>
    </div>
    {% include 'footer.html' %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
