<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}

<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container">
        <font color="white">
            <h1>Welcome to CarSales.com!</h1>
            <p>Here at CarSales.com we are dedicated to providing quality service for customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
    <br></br>

       <form action="" method="POST" id="list-form">{% csrf_token %}

         <h2>Create Listing</h2>
        </br>
        <label for="car_color">Color: </label>
        {{listForm.car_color}}    
        </br>
        <label for="car_make">Car Make: </label>
        {{listForm.car_make}}    
        </br>
        <label for="car_model">Car Model: </label>
        {{listForm.car_model}}    
        </br>
        <label for="car_year">Car Year: </label>
        {{listForm.car_year}}    
        </br>
        </br>
        <label for="car_body_type">Body Type: </label>
        {{listForm.car_body_type}}    
        </br>
        <label for="car_new">This is a new car  </label>
        {{listForm.car_new}}    
        </br>
        </br>
        <label for="description">Briefly describe your car:  </label>
        </br>
        {{listForm.description}}  
        </br>  
        </br>
        <label for="price">Price Listing: </label>
        {{listForm.price}}
        </br>
  
      
        <br/>
        <br/>

          <div class="submit-row">
          <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Create" />
        </div>

        <p>{{message}}<p>

    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
