<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
<!-- LOGIN TEST -->


<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container">
        <font color="white">
            <h1>Welcome to CarSales.com!</h1>
            <p>Here at CarSales.com we are dedicated to providing quality service for customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="" method="POST" id="login-form">
        {% csrf_token %}

        <h2>Login</h2>
        </br>
        <label for="username">Username: </label>
        {{userform.username}}
        </br>

        <label for="password">Password: </label>
        {{userform.password}}
        </br>
        <div class="submit-row">
          <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Log in" />
        </div>
      </form>
        <br/>
        <br/>
        {%if message%}
        <div class="alert alert-warning">
        {{message}}
        </div>
        {%endif%}
        <div class="alert alert-info">
          <p>Not a user? Register <a href="/register">here</a></p>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
