<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
<!-- LOGIN TEST -->


<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container">
        <font color="white">
            <h1>Welcome to CarSales.com!</h1>
            <p>Here at CarSales.com we are dedicated to providing quality service for customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="" method="POST" id="login-form">{% csrf_token %}
        {{ userform }}
        <!--
          <div>
              <label for="username">Username: </label>
              <input id = "username" type = "text" name = "username">
          </div>
          <div>
              <label for="password">Password: </label>
              <input id = "password" type = "password" name = "password">  
          </div>
        -->
                  <div class="submit-row">
          <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Log in" />
        </div>
        <p>Not a user? Register <a href="/register">here</a></li> </p>
        <div>
        </div>
        
    </form>

    <!--
                <div class="col-sm-2"></div>
        <div class="col-sm-8">
            HELLO THERE
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            </div>
        </div>
        -->
    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
