<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}



<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container">
        <font color="white">
            <h1>Welcome to CarSales.com!</h1>
            <p>Here at CarSales.com we are dedicated to providing quality service for customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
    <b>SIGN UP:</b>
    <br></br>

       <form action="" method="POST" id="signup-form">{% csrf_token %}
        
          <div>
              <label for="username">Username: </label>
              <input id = "username" type = "text" name = "username">
          </div>
          <div>
              <label for="password">Password: </label>
              <input id = "password" type = "password" name = "password">  
          </div>
          <div>
              <label for="retypepassword">Retype Password: </label>
              <input id = "retypepassword" type = "password" name = "retypepassword">  
          </div>
        
                  <div class="submit-row">
          <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Log in" />
        </div>

    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
